USE [shoppingcart]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 4/1/2016 12:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order_details](
	[order_no] [int] NULL,
	[item_code] [int] NULL,
	[item_name] [varchar](50) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orders]    Script Date: 4/1/2016 12:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[order_no] [int] NOT NULL,
	[customer_name] [varchar](50) NOT NULL,
	[address] [text] NOT NULL,
	[city] [varchar](50) NOT NULL,
	[state] [varchar](50) NOT NULL,
	[contactno] [varchar](50) NOT NULL,
	[pincode] [char](10) NOT NULL,
	[paymode] [varchar](50) NOT NULL,
	[email_id] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/1/2016 12:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[item_code] [int] NOT NULL,
	[item_name] [varchar](50) NOT NULL,
	[description] [text] NOT NULL,
	[category] [nchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[image] [image] NOT NULL,
	[imagename] [varchar](100) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[order_details] ([order_no], [item_code], [item_name], [quantity], [price]) VALUES (1, 1001, N'C1001', 2, 1000)
INSERT [dbo].[order_details] ([order_no], [item_code], [item_name], [quantity], [price]) VALUES (1, 1002, N'C1002', 2, 2000)
INSERT [dbo].[order_details] ([order_no], [item_code], [item_name], [quantity], [price]) VALUES (2, 1001, N'C1001', 1, 500)
INSERT [dbo].[orders] ([order_no], [customer_name], [address], [city], [state], [contactno], [pincode], [paymode], [email_id]) VALUES (1, N'Srinivas Havanur', N'1064 W 48th Street Apt #23', N'Norfolk', N'Virginia', N'7577541752', N'23508     ', N'master card', N'srin.shav@gmail.com')
INSERT [dbo].[orders] ([order_no], [customer_name], [address], [city], [state], [contactno], [pincode], [paymode], [email_id]) VALUES (2, N'Srinivas Havanur', N'1064 W 48th Street Apt #23', N'Norfolk', N'Virginia', N'7577541752', N'23508     ', N'master card', N'srin.shav@gmail.com')
